---
layout: base
---
<!-- Source: https://github.com/qian256/qian256.github.io/blob/master/_includes/collecttags.html (MIT license) -->

<div class="post">
<h1 class="tag-title">{{ page.title }}</h1>
<p class="post-meta"><i class="fa-solid fa-flask-vial"></i> {{ page.tag }}</p>
<ul>
{% for post in site.tags[page.tag] %}
  {% if post.lang %}
  <li lang="{{post.lang}}">
  {% else %}
  <li>
  {% endif %}
  	<a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
  	{{ post.description }}
  	<!-- Tags: {{ post.tags | join: ", " }} -->
  </li>
{% endfor %}
</ul>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MolecularEntity",
  "@id": "{{ page.url | prepend: site.url }}",
  "http://purl.org/dc/terms/conformsTo": {
    "@type": "CreativeWork",
    "@id": "https://bioschemas.org/profiles/MolecularEntity/0.5-RELEASE"
  },
  "url": "{{ page.url | prepend: site.url }}",
  "name": "{{ page.title }}",
  "description": "Molecule page for {{ page.title }} with chem-bla-ics blog posts about the molecule.",
  "inChIKey": "{{ page.tag }}"
}
</script>
