---
layout: base
---
<!-- Source: https://github.com/qian256/qian256.github.io/blob/master/_includes/collecttags.html (MIT license) -->

<div class="post">
<h1 class="tag-title">{{ page.title }}</h1>
<p class="post-meta"><i class="fa-solid fa-tag"></i> {{ page.tag }}</p>
<p>{{ content }}</p>
<ul>
{% for post in site.tags[page.tag] %}
  {% if post.lang %}
  <li lang="{{post.lang}}">
  {% else %}
  <li>
  {% endif %}
  	<a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
  	{{ post.description }}
  	<!-- Tags: {{ post.tags | join: ", " }} -->
  </li>
{% endfor %}
</ul>
</div>
