---
layout: base
---
<!-- Source: https://github.com/qian256/qian256.github.io/blob/master/_includes/collecttags.html (MIT license) -->

<div class="post">
<h1 class="tag-title">{{ page.title }}</h1>
<p class="post-meta">
  <a href="{{ '/feed/by_tag/' | append: page.tag | append: '.xml' | relative_url }} "><i style="color: #FFA500" class="fa-solid fa-square-rss"></i></a>&nbsp;
  <i class="fa-solid fa-tag"></i> {{ page.tag }}&nbsp;
</p>
<p>{{ content }}</p>
<h2>Blog posts</h2>
<ul>
{% for post in site.tags[page.tag] %}
  {% if post.lang %}
  <li lang="{{post.lang}}">
  {% else %}
  <li>
  {% endif %}
  	<a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
  	{{ post.description }}
  	<!-- Tags: {{ post.tags | join: ", " }} -->
  </li>
{% endfor %}
</ul>
</div>

{% if page.tags.size > 0 %}
  {%- assign tags = page.tags | split:' ' -%}
  {%- assign dois = "" | split: "" -%}
  {%- for tag in tags -%}
    {%- assign check = tag | split:':' -%}
    {%- if check.size > 1 and check[0] == "doi" -%}
      {%- assign dois = dois | push: check[1] -%}
    {%- endif -%}
  {%- endfor -%}
  {%- include references.html dois=dois title="Further reading" prepend="work" -%}
{% endif %}
